@model DonorPath.MeetUp.Models.ScheduleModel
@{
    ViewBag.Title = "Home Page";
}
@section Scripts{
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/jquerydatetimepicker")
    @Scripts.Render("~/bundles/donorpathmeetup")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryunobtrusiveajax")
    <script type="text/javascript">
        $.validator.unobtrusive.parse(document);
        FetchDemoTimes();
    </script>
}
@section Styles{
    @Styles.Render("~/Content/jquerydatetimepicker")
}

<div class="jumbotron">
    <img src="~/Content/logo.png" alt="DonorPath" />
    <p class="lead">@ViewBag.Name would like to meet with you.  Please select a time from the list below, and we'll set up the rest.</p>
    @using (Ajax.BeginForm("ScheduleAppointment", "Home", new AjaxOptions { HttpMethod = "Post", LoadingElementId = "MeetupLoad", OnFailure = "ScheduledFailure", OnSuccess = "ScheduledSuccess", OnBegin = "BeginSubmitAppointment", OnComplete = "CompleteSubmitAppointment" }))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.AppointmentTime, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.AppointmentTime, new { disabled = "disabled", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.AppointmentTime, null, new { @class = "help-block" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Email, new { disabled = "disabled", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, null, new { @class = "help-block" })
        </div>
    <input type="submit" value="Submit" id="appointmentSubmit" disabled="disabled" class="btn btn-primary btn-lg" />
        <progress id="MeetupLoad"></progress>
    }
</div>
